extends ../layouts/profile
block content
  h3.title Заказы
  .table
    table
      thead 
        tr
          th ЗАКАЗ
          th ДАТА
          th СТАТУС
          th ИТОГО
          th ДЕТАЛИ
          th ДЕЙСТВИЯ   

      tbody
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
        tr
          td №12345678
          td 10.10.2025
          td На удержании
          td 2 000,01 RUB за 2 товара
          td 
            a(href=link).btn.btn--telegram.btn--w100
              +icon('plane', {class: 'btn__icon', width: 19, height: 19})
              | Telegram
          td 
            a(href=link).btn.btn--primary.btn--w100 Просмотр
