
extends ../layouts/base.pug
include ../mixins/filter-scroll.pug
include ../mixins/radio
include ../components/authorization

block content
  +authorization('confirmation-service.html')
  include ../components/header-profile
  
  .bg-wrap
    
    picture.banner-bg
      source(
        type="image/avif"
        media="(max-width: 767px)"
        srcset=`./images/banners/bg-mobile-320.avif 320w,
                ./images/banners/bg-mobile-640.avif 640w,
                ./images/banners/bg-mobile-960.avif 960w`
        sizes="100vw"
      )
      source(
        type="image/avif"
        media="(min-width: 768px)"
        srcset=`./images/banners/bg-wrap-960.avif 960w,
                ./images/banners/bg-wrap-1440.avif 1440w,
                ./images/banners/bg-wrap-1920.avif 1920w`
        sizes="100vw"
      )
      source(
        type="image/webp"
        media="(max-width: 767px)"
        srcset=`./images/banners/bg-mobile-320.webp 320w,
                ./images/banners/bg-mobile-640.webp 640w,
                ./images/banners/bg-mobile-960.webp 960w`
        sizes="100vw"
      )
      source(
        type="image/webp"
        media="(min-width: 768px)"
        srcset=`./images/banners/bg-wrap-960.webp 960w,
                ./images/banners/bg-wrap-1440.webp 1440w,
                ./images/banners/bg-wrap-1920.webp 1920w`
        sizes="100vw"
      )
      source(
        type="image/png"
        media="(max-width: 767px)"
        srcset=`./images/banners/bg-mobile-320.jpg 320w,
                ./images/banners/bg-mobile-640.jpg 640w,
                ./images/banners/bg-mobile-960.jpg 960w`
        sizes="100vw"
      )
      source(
        type="image/png"
        media="(min-width: 768px)"
        srcset=`./images/banners/bg-wrap-960.png 960w,
                ./images/banners/bg-wrap-1440.png 1440w,
                ./images/banners/bg-wrap-1920.png 1920w`
        sizes="100vw"
      )
      img.banner-bg__img(
        src="./images/banners/bg-mobile-320.jpg"
        alt=""
        aria-hidden="true"
      )


    .container
      .flex-layout.flex-layout--product-page
        .flex-layout__item 
          .wrap.wrap--basic
            .slider-limiter
              .slider-container
                .swiper.cards-reverse-js
                  .swiper-wrapper.card-wrap.card-wrap--reverse
                    include ../components/cards

        .flex-layout__item
          .product-wrap
            .product-wrap__heading-gradient
              .tile
                .tile__icon
                  picture
                          
                    source(
                      type="image/avif"
                      srcset=`./images/services/gpt-72.avif 72w,
                              ./images/services/gpt-80.avif 80w,
                              ./images/services/gpt-92.avif 92w,
                              ./images/services/gpt-152.avif 152w,
                              ./images/services/gpt-216.avif 216w,
                              ./images/services/gpt-304.avif 304w,
                              ./images/services/gpt-456.avif 456w`
                      sizes="80px"
                    )
                    
                    source(
                      type="image/webp"
                      srcset=`./images/services/gpt-72.webp 72w,
                              ./images/services/gpt-80.webp 80w,
                              ./images/services/gpt-92.webp 92w,
                              ./images/services/gpt-152.webp 152w,
                              ./images/services/gpt-216.webp 216w,
                              ./images/services/gpt-304.webp 304w,
                              ./images/services/gpt-456.webp 456w`
                      sizes="80px"
                    )
                    
                    img(
                      src=`./images/services/gpt-72.jpg`
                      srcset=`./images/services/gpt-72.jpg 72w,
                              ./images/services/gpt-80.jpg 80w,
                              ./images/services/gpt-92.jpg 92w,
                              ./images/services/gpt-152.jpg 152w,
                              ./images/services/gpt-216.jpg 216w,
                              ./images/services/gpt-304.jpg 304w,
                              ./images/services/gpt-456.jpg 456w`
                      sizes="80px"
                      width="72"
                      height="72"
                      alt="Подписка ChatGPT"
                      loading="lazy"
                      decoding="async"
                    )
              .product-wrap__product-info
                h3.title.title--sm Подписка ChatGPT 

                .rating-wrap
                  .rating(data-rating="5")
                  span 5.0
                  p 1456 отвызов

            .product-wrap__inner.product-wrap__inner--radius-none
              .product-wrap__inner-section

                  h3.title.title--sm Подписки
                  .product-wrap__subscriptions 
                    label(for="one-mounth").tile.tile--radio
                      input#one-mounth(type="radio" name="rate" data-name="one-mounth" checked)
                      .tile__active-status 
                        span Выбран
                        +icon('check', { class: 'tile__active-icon', width: 14, height: 14 })
                      
                      .tile__icon
                        .tile__plan
                          span 1 мес. Plus
                        picture
                          
                          source(
                            type="image/avif"
                            srcset=`./images/services/gpt-72.avif 72w,
                                    ./images/services/gpt-80.avif 80w,
                                    ./images/services/gpt-92.avif 92w,
                                    ./images/services/gpt-152.avif 152w,
                                    ./images/services/gpt-216.avif 216w,
                                    ./images/services/gpt-304.avif 304w,
                                    ./images/services/gpt-456.avif 456w`
                            sizes="92px"
                          )
                          
                          source(
                            type="image/webp"
                            srcset=`./images/services/gpt-72.webp 72w,
                                    ./images/services/gpt-80.webp 80w,
                                    ./images/services/gpt-92.webp 92w,
                                    ./images/services/gpt-152.webp 152w,
                                    ./images/services/gpt-216.webp 216w,
                                    ./images/services/gpt-304.webp 304w,
                                    ./images/services/gpt-456.webp 456w`
                            sizes="92px"
                          )
                          
                          img(
                            src=`./images/services/gpt-72.jpg`
                            srcset=`./images/services/gpt-72.jpg 72w,
                                    ./images/services/gpt-80.jpg 80w,
                                    ./images/services/gpt-92.jpg 92w,
                                    ./images/services/gpt-152.jpg 152w,
                                    ./images/services/gpt-216.jpg 216w,
                                    ./images/services/gpt-304.jpg 304w,
                                    ./images/services/gpt-456.jpg 456w`
                            sizes="92px"
                            width="92"
                            height="92"
                            alt="Подписка ChatGPT"
                            loading="lazy"
                            decoding="async"
                          )
                      
                      .tile__label 1 497 RUB
                    label(for="three-mounth").tile.tile--radio
                      input#three-mounth(type="radio" name="rate" data-name="three-mounth")
                      .tile__active-status 
                        span Выбран
                        +icon('check', { class: 'tile__active-icon', width: 14, height: 14 })
                      
                      .tile__icon
                        .tile__plan
                          span 3 мес. Pro
                        picture
                          
                          source(
                            type="image/avif"
                            srcset=`./images/services/gpt-72.avif 72w,
                                    ./images/services/gpt-80.avif 80w,
                                    ./images/services/gpt-92.avif 92w,
                                    ./images/services/gpt-152.avif 152w,
                                    ./images/services/gpt-216.avif 216w,
                                    ./images/services/gpt-304.avif 304w,
                                    ./images/services/gpt-456.avif 456w`
                            sizes="92px"
                          )
                          
                          source(
                            type="image/webp"
                            srcset=`./images/services/gpt-72.webp 72w,
                                    ./images/services/gpt-80.webp 80w,
                                    ./images/services/gpt-92.webp 92w,
                                    ./images/services/gpt-152.webp 152w,
                                    ./images/services/gpt-216.webp 216w,
                                    ./images/services/gpt-304.webp 304w,
                                    ./images/services/gpt-456.webp 456w`
                            sizes="92px"
                          )
                          
                          img(
                            src=`./images/services/gpt-72.jpg`
                            srcset=`./images/services/gpt-72.jpg 72w,
                                    ./images/services/gpt-80.jpg 80w,
                                    ./images/services/gpt-92.jpg 92w,
                                    ./images/services/gpt-152.jpg 152w,
                                    ./images/services/gpt-216.jpg 216w,
                                    ./images/services/gpt-304.jpg 304w,
                                    ./images/services/gpt-456.jpg 456w`
                            sizes="92px"
                            width="92"
                            height="92"
                            alt="Подписка ChatGPT"
                            loading="lazy"
                            decoding="async"
                          )
                      
                      .tile__label 1 497 RUB

               
              
              .product-wrap__inner-section(data-move=".desktop-info.product-wrap__inner,768")  
                h3.title.title--sm Период подписки 
                .product-wrap__period
                  +radio('1 месяц', true)
                  +radio('3 месяца')
                  +radio('6 месяцев')
                  +radio('12 месяцев')

              .product-wrap__inner-section
                .product-wrap__delivery
                  h3.title.title--sm Выбери способ доставки:

                  .tabs.tabs-js.tabs--modify
                    .tabs__nav
                      .tabs__btn.active.trigger-js(data-name="by-account") Новый аккаунт
                      .tabs__btn.trigger-js(data-name="by-login") По логину
                      .tabs__btn.trigger-js(data-name="by-link") По ссылке

                    .tabs__content
                      .tabs__panel.called-js.show(data-name="by-account")
                        h4.title.title--sm Укажите email, на который отправим доступы к аккаунту
                        p Данная почта не будет использована при регистрации ChatGPT, мы используем её для отправки данных от аккаунта.
                        
                        .input.input--icon.input--basic.default
                          .input__field
                            +icon('envelope', {width: 24, height: 24})
                            input(type="email" placeholder="Email (Логин)" name="email" autocomplete="off")
                        
                      .tabs__panel.called-js(data-name="by-login")
                        h4.title.title--sm Укажите логин и пароль
                        
                        form.form
                          .input.input--basic.default
                            .input__field
                              label.input__label(for="login") Логин
                              input#login(type="text" name="login")
                          
                          .input.input--basic.default
                            .input__field
                              label.input__label(for="password") Пароль
                              input#password(type="password" name="passwordr")
                          
                          
                      .tabs__panel.called-js(data-name="by-link") 
                        h4.title.title--sm Укажите ссылку для оплаты
                        form.form
                          .input.input--basic.default
                            .input__field
                              label.input__label(for="link") Ссылка
                              input#link(type="text" name="link")

                  button.btn.btn--primary.btn--w100(type='submit').trigger-js(data-name="authorization" data-move=".desktop-info.product-wrap__inner,768") Купить 1 497 RUB
                             
                          
                          
        .flex-layout__item
          .product-wrap
            .desktop-info.product-wrap__inner
            .product-wrap__inner
              h3.title.title--sm Важная информация
              .message-box
                p Данная почта не будет использована при регистрации ChatGPT, мы используем её для отправки данных от аккаунта.

  .container  
    .tabs.tabs-js
      .tabs__nav
        .tabs__btn.active.trigger-js(data-name="about") Описание
        .tabs__btn.trigger-js(data-name="faq") Вопросы и ответы
        .tabs__btn.trigger-js(data-name="reviews") Отзывы (23)

      .tabs__content
        .tabs__panel.called-js(data-name="about").show
          .description 
            
            h3.title.title--md About
            p Our vision for the future of AGI
              | Our mission is to ensure that artificial general intelligence—AI systems that are generally smarter than humans—benefits all of humanity.


            - const s = '(max-width: 767px) 380px, 672px'

              picture
               
                source(
                  type="image/avif"
                  srcset=`./images/static/about-320.avif 320w,
                          ./images/static/about-640.avif 640w,
                          ./images/static/about-960.avif 960w,
                          ./images/static/about-1440.avif 1440w`
                  sizes=s
                )
                
                source(
                  type="image/webp"
                  srcset=`./images/static/about-320.webp 320w,
                          ./images/static/about-640.webp 640w,
                          ./images/static/about-960.webp 960w,
                          ./images/static/about-1440.webp 1440w`
                  sizes=s
                )
                
                img(
                  src=`./images/static/about-320.jpg 320w`
                  srcset=`./images/static/about-320.jpg 320w,
                          ./images/static/about-640.jpg 640w,
                          ./images/static/about-960.jpg 960w,
                          ./images/static/about-1440.jpg 1440w`
                  sizes=s
                  alt="about"
                  loading="lazy"
                  decoding="async"
                  width="380"
                  height="213"
                )
            
            p We are building safe and beneficial AGI, but will also consider our mission fulfilled if our work aids others to achieve this outcome.    
        .tabs__panel.called-js(data-name="faq")
          .faq
            - 
              const faq = [
                {label: 'Какие страны можно пополнить?', desc: "lorem ipsum"},
                {label: 'Какие способы оплаты есть?', desc: "lorem ipsum"},
                {label: 'Лимиты и ограничения', desc: "lorem ipsum"},
                {label: 'Что такое "Логин"?', desc: "lorem ipsum"},
                {label: 'У меня новый или ранее НЕ пополнявшийся аккаунт', desc: "lorem ipsum"},
                {label: 'Пришла сумма меньше', desc: "lorem ipsum"},
                {label: 'Какой картой я могу оплатить?', desc: "lorem ipsum"},
                {label: 'Не пришли деньги на кошелёк Steam', desc: "lorem ipsum"}
              ] 
            each item in faq 
              .faq__item 
                .faq__label
                  p=item.label
                  +icon('plus', {class: 'faq__icon', width: 20, height: 20})
                .faq__desc=item.desc
        .tabs__panel.called-js(data-name="reviews")
          .product-review
            .product-review__section
              .wrap.wrap--inner-pages
                .rating-box(data-breakdown='{"5":121,"4":5,"3":8,"2":2,"1":3}')
                  div(class="rating-box__head")
                    div(class="rating-box__avg") 0.00
                    .rating(data-rating="0")
                  .rating-breakdown

              .product-review__review
            
                h3.title.title--sm Добавить отзыв

                p Ваш адрес электронной почты не будет опубликован. Обязательные поля отмечены. 

                form.product-review__form
                  
                  div
                    .product-review__label Ваша оценка 
                      span *
                    .stars-input(data-max="5")
                      input(type="hidden", name="review-rating", value="2")

                  div
                    label(for="message").product-review__label Ваш отзыв 
                      span *
                  div
                    textarea#message(name="message").product-review__textarea
                  button(type="submit").btn.btn--primary Отправить


            .product-review__section
              h3.title.title--sm 3 отзыва про Подписку ChatGPT 

              .product-review__list-reviews 
                mixin review(str)
                  .product-review__item 
                    .avatar
                      picture
              
                        source(
                          type="image/avif"
                          srcset=`./images/avatars/avatar-36.avif 36w,
                                  ./images/avatars/avatar-72.avif 72w,
                                  ./images/avatars/avatar-108.avif 108w,
                                  ./images/avatars/avatar-63.avif 63w,
                                  ./images/avatars/avatar-128.avif 128w,
                                  ./images/avatars/avatar-189.avif 189w,
                                  ./images/avatars/avatar-80.avif 80w,
                                  ./images/avatars/avatar-160.avif 160w,
                                  ./images/avatars/avatar-240.avif 240w`
                          sizes="56px"
                        )
                        
                        source(
                          type="image/webp"
                          srcset=`./images/avatars/avatar-36.webp 36w,
                                  ./images/avatars/avatar-72.webp 72w,
                                  ./images/avatars/avatar-108.webp 108w,
                                  ./images/avatars/avatar-63.webp 63w,
                                  ./images/avatars/avatar-128.webp 128w,
                                  ./images/avatars/avatar-189.webp 189w,
                                  ./images/avatars/avatar-80.webp 80w,
                                  ./images/avatars/avatar-160.webp 160w,
                                  ./images/avatars/avatar-240.webp 240w`
                          sizes="56px"
                        )
                        
                        img(
                          src=`./images/avatars/avatar-63.jpg`
                          srcset=`./images/avatars/avatar-36.jpg 36w,
                                  ./images/avatars/avatar-72.jpg 72w,
                                  ./images/avatars/avatar-108.jpg 108w,
                                  ./images/avatars/avatar-63.jpg 63w,
                                  ./images/avatars/avatar-128.jpg 128w,
                                  ./images/avatars/avatar-189.jpg 189w,
                                  ./images/avatars/avatar-80.jpg 80w,
                                  ./images/avatars/avatar-160.jpg 160w,
                                  ./images/avatars/avatar-240.jpg 240w`
                          sizes="56px"
                          width="56"
                          height="56"
                          alt="Аватар"
                          loading="lazy"
                          decoding="async"
                        )

                    .product-review__info
                      .product-review__name rosetyler
                        span – 
                          | 2 часа назад
                      .rating(data-rating=str)

                      .product-review__text  Cras fermentum odio eu feugiat pretium. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Suscipit tellus mauris a diam maecenas sed enim. Id nibh tortor id aliquet 

                +review(1)        
                +review(3)        
                +review(2)        

    .services-slider.services-slider--similar
      h3.title.title--md Похожие товары
      .swiper.slider-group-js
        .swiper-wrapper
          
          each item in serviceSubscriptions
            .swiper-slide
              a(href="#").tile.tile--xs
                .tile__icon
                  .tile__rating
                    span 5.0
                    +icon('star', { class: 'tile__rating-icon', width: 14, height: 14 })
                  picture
                        
                    source(
                      type="image/avif"
                      srcset=`./images/services/${item.img}-72.avif 72w,
                              ./images/services/${item.img}-80.avif 80w,
                              ./images/services/${item.img}-92.avif 92w,
                              ./images/services/${item.img}-152.avif 152w,
                              ./images/services/${item.img}-216.avif 216w,
                              ./images/services/${item.img}-304.avif 304w,
                              ./images/services/${item.img}-456.avif 456w`
                      sizes="72px"
                    )
                    
                    source(
                      type="image/webp"
                      srcset=`./images/services/${item.img}-72.webp 72w,
                              ./images/services/${item.img}-80.webp 80w,
                              ./images/services/${item.img}-92.webp 92w,
                              ./images/services/${item.img}-152.webp 152w,
                              ./images/services/${item.img}-216.webp 216w,
                              ./images/services/${item.img}-304.webp 304w,
                              ./images/services/${item.img}-456.webp 456w`
                      sizes="72px"
                    )
                    
                    img(
                      src=`./images/services/${item.img}-72.jpg`
                      srcset=`./images/services/${item.img}-72.jpg 72w,
                              ./images/services/${item.img}-80.jpg 80w,
                              ./images/services/${item.img}-92.jpg 92w,
                              ./images/services/${item.img}-152.jpg 152w,
                              ./images/services/${item.img}-216.jpg 216w,
                              ./images/services/${item.img}-304.jpg 304w,
                              ./images/services/${item.img}-456.jpg 456w`
                      sizes="72px"
                      width="72"
                      height="72"
                      alt=item.label
                      loading="lazy"
                      decoding="async"
                    )  
                .tile__label=item.label
        