
extends ../layouts/base.pug



include ../mixins/filter-scroll.pug
include ../mixins/confirmation
include ../components/operation-result
//- include ../mixins/card.pug

block content
  include ../components/header-profile
  .container 
    .flex-layout.flex-layout--service-list
      .flex-layout__item
        .heading 
          .h2.title.title--md Оплата зарубежных сервисов
          form.search-filter
            .input.input--icon 
              input(type="search")
              +icon('search', {width: 20, height: 20}) 

            .select.select-js(data-move=".wrap--inner-pages .filter,768")
              div.select__selected-item Популярное
              +icon('angle', {class: '', width: 16, height: 16})
              ul(class="select__dropdown")
                li(class="select__option") Популярное
                li(class="select__option") option1
                li(class="select__option") option2
                li(class="select__option") option3    
        
      .flex-layout__item 
        .wrap.wrap--basic
          .swiper.cards-reverse-js
            .swiper-wrapper.card-wrap.card-wrap--reverse
              include ../components/cards

      .flex-layout__item
        .wrap.wrap--inner-pages
          +filterChips(['Все','Стриминг','Нейросети','Продуктивность','Образование','Игры','Лайфстайл','Знакомства',], 0)   
          
          .services-list
            each item in serviceSubscriptions.slice(0, 18)
              .services-list__item
                a(href=item.href).tile
                  .tile__icon
                    .tile__rating
                      span 5.0
                      +icon('star', { class: 'tile__rating-icon', width: 14, height: 14 })
                    picture
                      source(
                        type="image/avif"
                        srcset=`./images/services/${item.img}-92.avif 92w,
                                ./images/services/${item.img}-152.avif 152w,
                                ./images/services/${item.img}-216.avif 216w,
                                ./images/services/${item.img}-304.avif 304w,
                                ./images/services/${item.img}-456.avif 456w`
                        sizes="(min-width:1440px) 152px, (min-width:768px) 120px, 110px"
                      )
                      source(
                        type="image/webp"
                        srcset=`./images/services/${item.img}-92.webp 92w,
                                ./images/services/${item.img}-152.webp 152w,
                                ./images/services/${item.img}-216.webp 216w,
                                ./images/services/${item.img}-304.webp 304w,
                                ./images/services/${item.img}-456.webp 456w`
                        sizes="(min-width:1440px) 152px, (min-width:768px) 120px, 110px"
                      )
                      img(
                        src=`./images/services/${item.img}-152.jpg`
                        srcset=`./images/services/${item.img}-92.jpg 92w,
                                ./images/services/${item.img}-152.jpg 152w,
                                ./images/services/${item.img}-216.jpg 216w,
                                ./images/services/${item.img}-304.jpg 304w,
                                ./images/services/${item.img}-456.jpg 456w`
                        sizes="(min-width:1440px) 152px, (min-width:768px) 120px, 110px"
                        width="152"
                        height="152"
                        alt=item.label
                        loading="lazy"
                        decoding="async"
                      )


                  .tile__label=item.label
      
      .flex-layout__item
        .wrap.wrap--inner-pages
          picture
            // современный формат
            source(
              type="image/avif"
              srcset=`./images/static/emoji1-58.avif 58w,
                      ./images/static/emoji1-116.avif 116w,
                      ./images/static/emoji1-174.avif 174w`
              sizes="88px"
            )
            // запасной современный
            source(
              type="image/webp"
              srcset=`./images/static/emoji1-58.webp 58w,
                      ./images/static/emoji1-116.webp 116w,
                      ./images/static/emoji1-174.webp 174w`
              sizes="88px"
            )
            // окончательный fallback (если у тебя есть jpg/png — замени расширение ниже)
            img(
              src=`./images/static/emoji1.jpg`
              srcset=`./images/static/emoji1-58.jpg 58w,
                      ./images/static/emoji1-116.jpg 116w,
                      ./images/static/emoji1-174.jpg 174w`

              sizes="58px"
              width="58" height="58"
              alt="100% возврат"
              loading="lazy"
              decoding="async"
            )
          
          h3 100% возврат
          p  Возвращаем 100% средств в случае ошибки. На карту возвращаем с удержанием 25% в случае ошибки с вашей стороны
        
      .flex-layout__item
        .wrap.wrap--inner-pages
          picture
            // современный формат
            source(
              type="image/avif"
              srcset=`./images/static/emoji2-58.avif 58w,
                      ./images/static/emoji2-116.avif 116w,
                      ./images/static/emoji2-174.avif 174w`
              sizes="88px"
            )
            // запасной современный
            source(
              type="image/webp"
              srcset=`./images/static/emoji2-58.webp 58w,
                      ./images/static/emoji2-116.webp 116w,
                      ./images/static/emoji2-174.webp 174w`
              sizes="88px"
            )
            // окончательный fallback (если у тебя есть jpg/png — замени расширение ниже)
            img(
              src=`./images/static/emoji2.jpg`
              srcset=`./images/static/emoji2-58.jpg 58w,
                      ./images/static/emoji2-116.jpg 116w,
                      ./images/static/emoji2-174.jpg 174w`

              sizes="58px"
              width="58" height="58"
              alt="Поддержка 24/7"
              loading="lazy"
              decoding="async"
            )
          
          h3 Поддержка 24/7
          p  Только живые люди. Каждый вопрос рассматривается индивидуально


    //- +confirmation

    //- .operation
    //-   +operationResult('success')
    //-   +operationResult('error')