extends ../layouts/profile
block vars
  - var page = 'profile'
block content
  h3.title Профиль
  form.form
    .input.input--basic
      .input__field
        div
          label.input__label(for="name") Имя *
          input#name(type="text" value="Имя")
    .input.input--basic
      .input__field
        div
          label.input__label(for="surname") Фамилия *
          input#surname(type="text" value="Фамилия")
    .input.input--basic.default
      .input__field
        div
          label.input__label(for="idName") Отображаемое имя *
          input#idName(type="text" value="Telegram ID")
      .input__require Так будет отображаться в разделе аккаунт и при публикации отзывов
    .input.input--basic.default
      .input__field
        label.input__label(for="phoneNumber") Номер получателя
        input#phone(
          type="tel"
          inputmode="tel"
          autocomplete="tel"
          placeholder="+"
          aria-describedby="phone_meta"
        )

        input(type="hidden" id="phone_e164" name="phone_e164")
        small#phone_meta

      .input__require введите номер получателя

      
    button.btn.btn--primary.btn--w100 Сохранить изменения  
